#container {
    display: flex;
    justify-content: center;
}

header p a {
    color: black;
    font-size: 50px;
    text-align: center;
    margin-top: 200px;
}

header a:link {
    text-decoration: none;
}


ul {
    list-style: none;
}

main p {
    font-weight: 700;
}


.destination {
    display: flex;
    width: 100%;
    margin: 25px auto;
    object-fit: contain;
    overflow-y: scroll;

}


#shadow {
    height: 167px;
    width: 552px;
    padding: 10px;
    margin: 8px;
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
}


#go-home:hover {
    text-decoration: underline;
    text-decoration-line: 700;
}